# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.tsv

# Virtual environment folders
env/
venv/
.venv/

# MacOS system files
.DS_Store

# VS Code settings
.vscode/
